{% extends '::base_admin.html.twig' %}

{% block content -%}
    <h1>{{"New Event"|trans}}</h1>

    {{ form(form) }}


    <a href="{{ path('admin_event') }}">
        Back to the list
    </a>

{% endblock %}
