{% extends '::base_admin.html.twig' %}

{% block content -%}
    <h1>Phone creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_phone') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
