{% extends '::base_admin.html.twig' %}

{% block content -%}
    <h1>Add Hall to Venue</h1>

    {{ form(form) }}


    <a href="{{ path('admin_venue') }}">
        Back to the list
    </a>

{% endblock %}
